####################################
# ::: Project related
####################################
# default location for development solr instance
apache-solr-1.4.1

# previous OPR version
old-opr

####################################
# ::: IntelliJ
####################################
*.iml
*.ipr
*.iws
.idea/

####################################
# ::: Sass
####################################
*.sassc
.sass-cache
