####################################
# ::: Project related
####################################
# default location for development solr instance
apache-solr-1.4.1

# previous OPR version
old-opr

####################################
# ::: IntelliJ
####################################
*.iml
*.ipr
*.iws
.idea/

####################################
# ::: Rails
####################################
*.sassc
.sass-cache
*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
.bundle
opr/vendor/bundle
opr/log/*
opr/tmpi/*
opr/pr/
opr/db/*.sqlite3
opr/public/system/*
opr/coverage/
opr/spec/tmp/*
**.orig
opr/config/*.yml
rerun.txt
pickle-email-*.html
