####################################
# ::: Project related
####################################
# default location for development solr instance
apache-solr-1.4.1

# previous OPR version
old-opr

####################################
# ::: IntelliJ
####################################
*.iml
*.ipr
*.iws
.idea/

####################################
# ::: Rails
####################################
*.sassc
.sass-cache
*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
.bundle
vendor/bundle
log/*
tmp/*
db/*.sqlite3
public/system/*
coverage/
spec/tmp/*
**.orig
config/*.yml
rerun.txt
pickle-email-*.html
