<% title 'Administration' %>
<% set_active_page :admin %>

<h1>OPR administration</h1>
<ul>
  <li>
    <%= link_to 'Users', users_path %>
  </li>
  <li>
    <%= link_to 'Relationship Types', relationship_types_path %>
  </li>
</ul>
