{% extends "patterns/template.html" %}

{% load tagging_tags %}

{% block title %}Browse patterns{% endblock %}

{% block head %}

{% endblock %}

{% block content %}
    <h1>Categories</h1>
    <ul class="hierarchal">
        {% for row in data %}
            {% if row  == ' sub start ' %}
                <ul>
            {% endif %}
            {% if row == ' sub end ' %}
                </ul>
            {% endif %}
            {% if row == ' row end ' %}
                </li>
            {% endif %}
            {% if row  != ' sub start ' and row  != ' sub end ' and row != ' row end ' %}
                <li>
                    <a href="{{ row.get_absolute_url }}"
                       title="Get more information about this pattern">
                        {{ row }}
                    </a>
            {% endif %}
        {% endfor %}
    </ul>

    <h1>Tags</h1>

    {% tag_cloud_for_model patterns.Pattern as tags with steps=6 min_count=1 distribution=log %}
    {% for tag in tags %}
        <span class="tag-{{tag.font_size}}"><a href="/tag/{{tag.name|slugify}}/">{{tag.name}}</a></span>
    {% endfor %}
{% endblock %}
