<h1>Welcome to the Open Pattern Repository</h1>

<%= link_to "All patterns", patterns_path %>
<%= link_to "All relationship types", relationship_types_path %>

<h2>Latest patterns added</h2>
    <ul>
    <% @latest_patterns.each do |pattern| %>
        <li><%=
            link_to pattern.title, pattern,
                  :title => "Read more about #{pattern.title}."
        %></li>
    <% end %>
</ul>
