<fieldset class="default-layout">
  <label>
    Target <span title="required" class="required">*</span> :
    <%= f.collection_select :target_id, @possible_relationship_targets, :id, :name, :prompt => true %><br />
  </label>

  <label>
    Type <span title="required" class="required">*</span> :
    <%= f.collection_select :relationship_type_id, @relationship_types, :id, :name, :prompt => true %><br />
  </label>

  <label class="big">
    <span class="top">Description</span>
    <div class='markdownEditor-buttons'></div>
    <%= f.text_area :description, :class => 'markdownEditor' %>
    <div class='preview markdownEditor-preview'></div>
  </label>
  <%= link_to_remove_fields 'remove', f %>
</fieldset>