{% extends "lib/template_sidebars.html" %}

{% load markup %}

{% block title %}{{ p.name }}{% endblock %}

{% block beforecontent %}
    <div id="pattern_details">
{% endblock %}

{% block left %}
<h1>{{ p.name }}</h1>
<span>Last update on {{ v.documented_when }}</span>

<nav class="toc">
    <h2>Contents</h2>
    <ol>
        {% for description in v.description.all %}
            <li>
                <a href="#description{{ description.component.id }}"
                   title="Navigate to the section">
                    {{ description.component.name }}
               </a>
            </li>
        {% endfor %}
    </ol>
</nav>

<div class="description-out">
    {% for description in v.description.all %}
        <h2>
            {{ description.component.name }}
            <a name="description{{ description.component.id }}" href="#top"></a>
        </h2>
        {{ description|markdown }}
    {% endfor %}
</div>
{% endblock %}





{% block right %}
    <div>
        <h1>Outgoing relationships</h1>
        <div class="relationships">
        {% for r in p.outgoing_relationships.all %}
            <div class="relationship">
                <span>
                    {{ p.name }} <span>{{ r.type.name }}</span> <a href="{{ r.target.get_absolute_url }}"
                       title="Navigate to the details page of the related pattern">
                        {{ r.target.name }}
                    </a>
                </span>
                <div>
                    {{ r.description|markdown }}
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
    <div>
        <h1>Incoming relationships</h1>
        <div class="relationships">
        {% for r in p.incoming_relationships.all %}
            <div class="relationship">
                <span>
                    <a href="{{ r.source.get_absolute_url }}"
                       title="Navigate to the details page of the related pattern">
                        {{ r.source.name }}</a>
                    <span>{{ r.type.name }}</span> {{ p.name }}
                </span>
                <div>
                    {{ r.description|markdown }}
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
    <div>
        <h1>Driver</h1>
        <div class="driver">
            {% for d in v.drivers.all %}
                <div>
                    <div class="impact-indicator float_icon" title="{{ d.impact }} out of 10; 10 represents the strongest impact">
                        <div class="level-{{ d.impact }}"></div>
                    </div>
                    {{ d.quality_attribute.name }} <span class="smaller">({{ d.get_type_display }})</span>
                    {{ d.description|markdown }}
                </div>
            {% endfor %}
        </div>
    </div>
    <div>
        <h1>Sources</h1>
        <div class="float_icon icon-sources"></div>

        <a href="{{ v.source }}" title="View the source">{{ v.source }}</a>
    </div>
    <div>
        <h1>Related files</h1>
        <div class="float_icon icon-file"></div>

        <p>
            No related files.
        </p>
    </div>
    <div>
        <h1>Associated tags</h1>
        <div class="float_icon icon-tag"></div>

        <p>
            {% for tag in p.tags.split %}
                <span><a href="/tag/{{ tag }}/" title="See all patterns that have this tag">{{ tag }}</a></span>
            {% endfor %}
        </p>
    </div>
{% endblock %}

{% block aftercontent %}
</div>
{% endblock %}