{% extends "lib/template.html" %}

{% block title %}Manage pattern{% endblock %}

{% block head %}
    <script type="text/javascript" src="/resources/js/markitup/jquery.markitup.js"></script>
    <script type="text/javascript" src="/resources/js/markitup/sets/markdown/set.js"></script>
    <link rel="stylesheet" type="text/css" href="/resources/js/markitup/skins/simple/style.css"/>
    <link rel="stylesheet" type="text/css" href="/resources/js/markitup/sets/markdown/style.css"/>
{% endblock %}


{% block content %}
    <form method="post" action="#" id="manage_pattern">

    <h1>Add pattern</h1>

    <p>Fields marked <span title="required" class="required">*</span>
        are required for submission</p>

    {% csrf_token %}
    {{ form.non_field_errors }}

    <div class="accordion">
        <h2><a href="/noJs.html"
               title="Expand / collapse the following section">
                General information
            </a>
            <div>
            </div>
        </h2>
        <div>
            <fieldset class="default-layout">
                <label for="id_name">
                    {{ form.name.label }}
                    {% with form.name as field %}
                        {% include "patterns/required.html" %}
                    {% endwith %}:
                    {{ form.name }}
                </label>

                <label for="id_permalink">
                    {{ form.permalink.label }}
                    {% with form.permalink as field %}
                        {% include "patterns/required.html" %}
                    {% endwith %}:
                    {{ form.permalink }}
                </label>

                <label for="id_author">
                    {{ form.author.label }}
                    {% with form.author as field %}
                        {% include "patterns/required.html" %}
                    {% endwith %}:
                    {{ form.author }}
                </label>

                <label for="id_source">
                    {{ form.source.label }}
                    {% with form.source as field %}
                        {% include "patterns/required.html" %}
                    {% endwith %}:
                    {{ form.source }}
                </label>

                <label for="id_license">
                    {{ form.license.label }}
                    {% with form.license as field %}
                        {% include "patterns/required.html" %}
                    {% endwith %}:
                    {{ form.license }}
                </label>
            </fieldset>

            <input type="submit" value="Next step" class="navbutton next" />
            <p class="clearFloat"></p>
        </div>






        <h2><a href="/noJs.html"
               title="Expand / collapse the following section">
                Textual description
            </a>
            <div>
            </div>
        </h2>
        <div class="textual-description-step">
            <label for="id_template" class="input_template_label default-layout">
                {{ form.template.label }}
                {% with form.template as field %}
                    {% include "patterns/required.html" %}
                {% endwith %}:
                {{ form.template }}
            </label>

            <input id="change_template"
                   type="submit" value="Change" class="input_template_change"/>

            <div class="description-box">
                {% for field in templateRelated %}
                    <div class="description">
                        <h3>{{ field.label }}
                            {% include "patterns/required.html" %}
                        </h3>

                        {{ field }}
                    </div>
                {% endfor %}
            </div>


            <input type="submit" value="Previous step" class="navbutton previous" />
            <input type="submit" value="Next step" class="navbutton next" />
            <p class="clearFloat"></p>
        </div>







        <h2><a href="/noJs.html"
               title="Expand / collapse the following section">
                Driver
            </a>
            <div>
            </div>
        </h2>
        <div class="forces_consequences">
            {{ driverForm.management_form }}
            <div class="entries">
            {% for df in driverForm.forms %}
                <fieldset class="default-layout">
                    <label>
                        {{ df.quality_attribute.label }}
                        {% with df.quality_attribute as field %}
                            {% include "patterns/required.html" %}
                        {% endwith %}:
                        {{ df.quality_attribute }}
                    </label>

                    <label>
                        {{ df.impact.label }}
                        {% with df.impact as field %}
                            {% include "patterns/required.html" %}
                        {% endwith %}:
                        {{ df.impact }}
                    </label>

                    <label>
                        {{ df.type.label }}
                        {% with df.type as field %}
                            {% include "patterns/required.html" %}
                        {% endwith %}:
                        {{ df.type }}
                    </label>

                    <label class="big">
                        <span class="top">{{ df.description.label }}
                            {% with df.description as field %}
                                {% include "patterns/required.html" %}
                            {% endwith %}:</span>
                        {{ df.description }}
                    </label>
                </fieldset>
            {% endfor %}
            </div>
        
            <input type="submit" value="Add driver" id="input_add_driver"/>
            <input type="submit" value="Previous step" class="navbutton previous" />
            <input type="submit" value="Next step" class="navbutton next" />
            <p class="clearFloat"></p>
        </div>






        <h2><a href="/noJs.html"
               title="Expand / collapse the following section">
                Relationships
            </a>
            <div>
            </div>
        </h2>
        <div>
            Relationships
            <input type="submit" value="Previous step" class="navbutton previous" />
            <input type="submit" value="Next step" class="navbutton next" />
            <p class="clearFloat"></p>
        </div>


        <h2><a href="/noJs.html"
               title="Expand / collapse the following section">
                Tags / categories
            </a>
            <div>
            </div>
        </h2>
        <div>
            <input type="submit" value="Previous step" class="navbutton previous last" />
            <p class="clearFloat"></p>
        </div>
    </div>
    <p class="accordion-manage-links">
        <a href="/noJs.html" title="Open all" class="open-all">Open all</a>
        <a href="/noJs.html" title="Close all" class="close-all">Close all</a>
        <a href="/noJs.html" title="Show all with errors" class="with-errors">Show all with errors</a>
    </p>

    <div>
        <input type="submit" value="Submit" id="in_submit_pattern" />
        <input type="submit" value="Cancel" id="in_cancel_pattern" />
        <input type="submit" value="Reset" id="in_reset_pattern" />
    </div>
    </form>
{% endblock %}

