// Place all the styles related to the home controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/
.teaser {
    width: 150px;
    height: 150px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    color: white;
    text-indent: -9999px;
    position: relative;
    top: -15px;

    &.add {
        background-image: url(teaser-add.png);
    }
    &.browse {
        background-image: url(teaser-browse.png);
    }
    &.search {
        background-image: url(teaser-search.png);
    }
}