/*#############################################################################
::: Vars
#############################################################################*/
$page_width: 1000px;
$page_sidebar_width: 320px;

$lightgreen: #48A659;
$darkgreen: #3D8E4C;
$darkgray: #414141;

/*#############################################################################
::: Mixins
#############################################################################*/

@mixin top-left-border-radius($radius) {
    border-top-left-radius: $radius;
    -moz-border-radius-topleft: $radius;
    -webkit-border-top-left-radius: $radius;
}

@mixin top-right-border-radius($radius) {
    border-top-right-radius: $radius;
    -moz-border-radius-topright: $radius;
    -webkit-border-top-right-radius: $radius;
}

@mixin bottom-right-border-radius($radius) {
    border-bottom-right-radius: $radius;
    -moz-border-radius-bottomright: $radius;
    -webkit-border-bottom-right-radius: $radius;
}

@mixin bottom-left-border-radius($radius) {
    border-bottom-left-radius: $radius;
    -moz-border-radius-bottomleft: $radius;
    -webkit-border-bottom-left-radius: $radius;
}

@mixin border-radius($radius) {
    border-radius: $radius;
    -moz-border-radius: $radius;
    -webkit-border-radius: $radius;
}

@mixin box-shadow($settings) {
    -moz-box-shadow: $settings;
    -webkit-box-shadow: $settings;
    box-shadow: $settings;
}

@mixin transition($settings) {
    -webkit-transition: $settings;
	-moz-transition: $settings;
	-o-transition: $settings;
	-webkit-transition: $settings;
	transition: $settings;
}

/*#############################################################################
::: Icons
#############################################################################*/
@mixin sprite-base($img, $x, $y, $width, $height) {
    background-image: $img;
    background-repeat: no-repeat;
    background-position: $x $y;
    width: $width;
    height: $height;
}
.icon-alert-yellow {
    @include sprite-base(url(../img/alert-yellow.png), 0, 0, 43px, 42px);
}
.icon-bug {
    @include sprite-base(url(../img/bug.png), 0, 0, 46px, 41px);
}

/*#############################################################################
::: CSS reset; http://meyerweb.com/eric/tools/css/reset/
#############################################################################*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

ins {
    text-decoration: none;
}

del {
    text-decoration: line-through;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*#############################################################################
::: Commonly used classes
#############################################################################*/
.hidden {
    display: none;
}

.top {
    vertical-align: top;
}

ul.hierarchal li > ul  {
    margin-left: 20px;
}

/*#############################################################################
::: Validation
#############################################################################*/
.val-show {
    display: block;
}

.val-hide {
    display: none;
}

/*#############################################################################
::: Page layout
#############################################################################*/
body {
    font-family: sans-serif;
    font-size: 14px;
}

header.page {
    background-image: url(../img/header.png);
    background-repeat: repeat-x;
    height: 82px;
    position: relative;
    border-bottom: 2px solid $lightgreen;

    .header_indention {
        width: $page_width;
        margin: 0 auto;
        position: relative;

        h1 {
            img {
                position: absolute;
                right: 20px;
                top: 15px;
                width: 78px;
                height: 56px
            }

            span {
                display: none;
            }
        }

        nav {
            height: 44px;
            top: 44px;

            ul {
                position: absolute;
                top: 53px;
                left: 10px;

                $nav-border-radius: 7px;
                $nav-outter-padding: 20px;

                li {
                    background-color: white;
                    float: left;
                    padding: 10px 8px 0;
                    font-weight: bold;
                    color: $darkgray;
                    height: 21px;

                    $navgreen: #009024;

                    &:first-child {
                        @include top-left-border-radius($nav-border-radius);
                        padding-left: $nav-outter-padding;
                    }

                    &:last-child {
                        @include top-right-border-radius($nav-border-radius);
                        padding-right: $nav-outter-padding;
                    }

                    a {
                        color: $darkgray;
                        text-decoration: none;

                        &:active, &.active {
                            color: $navgreen;
                        }
                        &:hover {
                            color: $navgreen;
                            text-decoration: underline;
                        }
                        &:focus {
                            color: $navgreen;
                        }
                    }

                }
            }
        }

        aside {
            $user-menu-width: 400px;
            $user-menu-open-id-width: 35px;
            height: 28px;
            width: $user-menu-width;
            position: absolute;
            top: 0px;
            right: 140px;
            background-color: white;

            $header-bar-border-radius: 7px;
            @include bottom-left-border-radius($header-bar-border-radius);
            @include bottom-right-border-radius($header-bar-border-radius);

            .openid-login-button {
                background-color: #efefef;
                @include bottom-left-border-radius($header-bar-border-radius);

                height: inherit;
                width: $user-menu-open-id-width;
                float: left;

                .openid-logo {
                    width: 25px;
                    height: 25px;
                    background-image: url(../img/openid-icon.png);
                    background-position: 0 0;
                    margin: 2px 0 0 5px;
                    display: block;
                    font-size: 0;
                    text-indent: -9999px;

                    &:hover {
                        background-position: 25px 0;
                    }
                }
            }

            .opr-login {
                @include bottom-right-border-radius($header-bar-border-radius);
                background-color: white;
                height: inherit;
                float: left;
                width: $user-menu-width - $user-menu-open-id-width;
                position: relative;

                @include transition(all 0.3s ease-in-out);

                input {
                    &[type=text], &[type=password] {
                        width: 130px;
                        margin: 5px 0 0 10px;
                    }
                    &[type=submit] {
                        margin-left: 8px;
                    }
                }

                .additional {
                    position: absolute;
                    top: 27px;
                    left: 0px;
                    background-color: white;
                    width: $user-menu-width - $user-menu-open-id-width;
                    height: 25px;
                    display: none;

                    @include transition(border-radius 0.3s ease-in-out);

                    label {
                        position: relative;
                        top: 5px;
                        left: 6px;

                        input {
                            position: relative;
                            top: 1px;
                        }
                    }

                    &.rounded {

                    }
                }

                &:hover {
                    @include bottom-right-border-radius(0px);

                    .additional {
                        @include bottom-right-border-radius($header-bar-border-radius);
                        @include bottom-left-border-radius($header-bar-border-radius);
                    }
                }
            }
        }
    }
}

#page_content {
    width: $page_width;
    margin: 15px auto 0;

    $sidebar_margin: 40px;

    #page_left {
        width: $page_width - $page_sidebar_width - $sidebar_margin;
        float: left;
        margin-right: $sidebar_margin;
    }

    #page_right {
        width: $page_sidebar_width;
        float: left;
        font-size: 0.9em;

        h1 {
            margin: 0.7em 0 0.5em;
        }
    }

    h1 {
        color: $lightgreen;
        margin: 0.7em 0 1.2em;
        font-size: 1.5em;
    }

    p {
        line-height: 1.5em;
        margin: 0.7em 0;
    }

    .teaser {
        width: 150px;
        height: 150px;
        display: inline-block;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        color: white;
        text-indent: -9999px;
        position: relative;
        top: -15px;

        &.add {
            background-image: url(../img/teaser-add.png);
        }
        &.browse {
            background-image: url(../img/teaser-browse.png);
        }
        &.search {
            background-image: url(../img/teaser-search.png);
        }
    }

    .float_icon {
        float: left;
        padding: 0 6px 3px;
    }
}

/*#############################################################################
::: Form layout
#############################################################################*/
span.required {
    cursor: help;
    color: red;
}

fieldset {
    position: relative;
}

input, textarea, select {
    color: #4F4F4F;
    padding: 1px;
    border: 1px solid #4F4F4F;
    margin-top: 0.2em;
    background-color: #f8f8f8;
}

input[type=submit] {
    padding: 3px 5px;
    background-color: $darkgreen;
    color: white;
    font-weight: bold;
    font-size: 12px;
}

input.default-layout {
    width: 200px;
    position: absolute;
    left: 110px;
    top: 4px;
}

label.default-layout {
    position: relative;
    display: block;
    line-height: 30px;

    input {
        &[type=text], &[type=password], &[type=url] {
            @extend input.default-layout;
        }
    }
    select {
        @extend input.default-layout;
    }
    textarea {
        
    }
}

fieldset.default-fieldset {
    label {
        @extend label.default-layout;
    }
}


/*#############################################################################
::: Manage pattern
#############################################################################*/
/*form#manage_pattern {*/
    /*#page_right {*/
        /*input#save_pattern {*/
            /*position: absolute;*/
            /*bottom: -16px;*/
            /*right: 5px;*/
        /*}*/
        /*a#delete_pattern {*/
            /*position: relative;*/
            /*top: 10px;*/
        /*}*/
        /*h1#tagheading {*/
            /*margin-top: 1.5em;*/
        /*}*/

        /*.content_tags {*/
            /*input[type=text] {*/
                /*position: relative;*/
                /*left: 15px;*/
                /*width: 200px;*/
            /*}*/

            /*input[type=submit] {*/
                /*position: relative;*/
                /*left: 20px;*/
            /*}*/

            /*ul {*/
                /*max-height: 150px;*/
                /*overflow-y: auto;*/

                 /*li {*/
                    /*float: left;*/
                    /*margin-right: 25px;*/
                    /*white-space: nowrap;*/
                    /*line-height: 1.5em;*/
                    /*position: relative;*/

                    /*a {*/
                        /*font-size: 0;*/
                        /*text-indent: -9999px;*/
                        /*width: 10px;*/
                        /*height: 10px;*/
                        /*position: absolute;*/
                        /*background-image: url(../img/remove-10x10.png);*/
                        /*background-position: -10px 0;*/
                        /*background-repeat: no-repeat;*/
                        /*margin: 2px 0 0 3px;*/
                        /*cursor: pointer;*/
                        /*top: 2px;*/

                        /*&:hover {*/
                            /*background-position: 0 0;*/
                        /*}*/
                    /*}*/
                /*}*/
            /*}*/

            /*a.propose_tags {*/
                /*position: relative;*/
                /*left: 5px;*/
            /*}*/
        /*}*/

        /*.category_out ul li > ul{*/
            /*margin-left: 10px;*/
        /*}*/
    /*}*/

    /*#page_left {*/
        /*.textual_description {*/
            /*position: relative;*/

            /*label {*/
                /*position: absolute;*/
                /*top: 0px;*/
                /*right: 70px;*/

                /*select {*/
                    /*max-width: 200px;*/
                /*}*/
            /*}*/
            /*.input_template_change {*/
                /*position: absolute;*/
                /*top: 0px;*/
                /*right: 0px;*/
            /*}*/
            /*h2 {*/
                /*font-weight: bold;*/
                /*font-size: 1.1em;*/
            /*}*/
        /*}*/
    /*}*/

    /*.forces_consequences, .relationships {*/
        /*clear: both;*/
        /**/
        /*h1 {*/
            /*margin-bottom: 0.4em;*/
            /*padding-top: 20px;*/
        /*}*/
        /*fieldset {*/
            /*$padding-right: 40px;*/
            /*padding: 5px $padding-right 5px 0;*/
            /*width: $page_width / 2 - $padding-right;*/
            /*padding-right: $padding-right;*/
            /*float: left;*/
            /*@extend fieldset.default-fieldset;*/

            /*label select {*/
                /*left: 150px;*/
            /*}*/

            /*.ui-slider {*/
                /*width: 200px;*/
                /*margin: 3px 0 5px 0;*/
                /*left: 150px;*/

                /*.ui-widget-header {*/
                    /*background: url(../img/impact-gradient-200.png);*/
                /*}*/
            /*}*/
        /*}*/
        /**/
        /*input[type=submit] {*/
            /*clear: left;*/
            /*display: block;*/
        /*}*/
    /*}*/
/*}*/

/*#############################################################################
::: Manage pattern v2
#############################################################################*/
form#manage_pattern {
    .accordion {
        $accordion-border-radius: 15px;
        $accordion-border: 1px solid $darkgray;
        h2 {
            display: block;
            height: 30px;
            background-color: $darkgreen;
            border-left: $accordion-border;
            border-right: $accordion-border;
            position: relative;

            background: -moz-linear-gradient(top, $lightgreen 1%, $darkgreen 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,$lightgreen), color-stop(100%,$darkgreen));
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$lightgreen', endColorstr='$darkgreen',GradientType=0 );

            > a {
                color: white;
                font-weight: bold;
                text-decoration: none;
                display: block;
                height: inherit;
                padding: 8px 0 0 15px;
            }

            div {
                width: 20px;
                height: 20px;
                background-image:url(../img/arrow_down.png);
                position: absolute;
                top: 6px;
                right: 13px;

                display: none;

                &:hover {
                    background-position: 20px 0;
                }

                a {
                    text-indent: -9999px;
                    font-size: 0px;
                    display: block;
                    height: inherit;
                }
            }

            &:hover {
                div {
                    display: block;
                }
            }

            &:first-child {
                @include top-left-border-radius($accordion-border-radius);
                @include top-right-border-radius($accordion-border-radius);
                border-top: $accordion-border;
            }
        }

        > div {
            padding: 10px;
            background-color: #fafafa;
            border: $accordion-border;

            &:last-child {
                @include bottom-left-border-radius($accordion-border-radius);
                @include bottom-right-border-radius($accordion-border-radius);
            }
        }
    }
}