/*
 TODO: Add Open Pattern Specific namespace "opr-"
*/

/*#############################################################################
::: CSS reset; http://meyerweb.com/eric/tools/css/reset/
#############################################################################*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

ins {
    text-decoration: none;
}

del {
    text-decoration: line-through;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*#############################################################################
::: Commonly used classes
#############################################################################*/
.hidden {
    display: none;
}

.top {
    vertical-align: top;
}

ul.hierarchal li > ul  {
    margin-left: 20px;
}

/*#############################################################################
::: Page layout
#############################################################################*/
body {
    font-family: Arial, 'Liberation Sans', 'DejaVu Sans', sans-serif;
    font-size: 14px;
}

/*#############################################################################
::: Form layout
#############################################################################*/
span.required {
    cursor: help;
    color: red;
}

/*#############################################################################
::: Manage pattern
#############################################################################*/
.box {
    width: 650px;

    float: left;

    border: 1px solid black;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;

    margin: 5px;
    position: relative;
}

.side_pane {
    float: left;
}

.side_pane .box {
    width: 300px;
    float: none;
}

.box h3 {
    font-weight: bold;
    padding: 5px 0 0 5px;
}

.box_content {
    width: inherit;
    padding: 5px;
}

.box hr {
    width: 95%;
    margin: 8px auto;
    border: 0;
    border-bottom: 1px dashed #000;
    position: relative;
    left: -5px;
}

/*::: General information box */
.box_content_general label {
    width: inherit;
    display: block;
    line-height: 30px;
    position: relative;
}

.box_content_general input, .box_content_general select {
    position: absolute;
    left: 100px;
    top: 4px;

    width: 180px;
}

.box_content_general label .errorlist {
    width: 250px;
    position: absolute;
    left: 285px;
    z-index: 10;
    background-color: #FEF1EC;
    top: 3px;
    padding: 5px;
    line-height: 1em;
    border: 1px solid #CD0A0A;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.box_actions {
    position: relative;
    height: 30px;
}

.box_actions input {
    position: absolute;
    right: 12px;
}

.box_actions a {
    position: absolute;
    top: 5px;
    left: 10px;
    color: darkred;
}

/*::: Tag box */
.box_content_tags input[type=text] {
    position: relative;
    left: 15px;
    width: 200px;
}

.box_content_tags input[type=submit] {
    position: relative;
    left: 20px;
}

.box_content_tags ul {
    max-height: 150px;
    overflow-y: auto;
}

.box_content_tags ul li {
    float: left;
    margin-right: 25px;
    font-size: 0.85em;
    white-space: nowrap;
    line-height: 1.5em;
}

.box_content_tags ul li a {
    font-size: 0;
    text-indent: -9999px;
    width: 10px;
    height: 10px;
    position: absolute;
    background-image: url(../img/remove-grayscale-10x10.png);
    margin: 2px 0 0 3px;
    cursor: pointer;
}

.box_content_tags ul li a:hover {
    background-image: url(../img/remove-10x10.png);
}

.box_content_tags a.propose_tags {
    position: relative;
    left: 5px;
}

/*::: Category box */
.box_content_categories > ul {
    width: 295px;
}

.box_content_categories li > ul {
    position: relative;
    left: 15px;
}

/*::: Textual description box */
.box .input_template_label {
    position: absolute;
    top: 11px;
    right: 85px;
    width: 280px;
}

.box .input_template_label select {
    position: absolute;
    top: -4px;
    right: 0px;
    width: 200px;
}

.box .input_template_change {
    position: absolute;
    top: 4px;
    right: 10px;
}

.box .input_template_label .errorlist {
    position: absolute;
    z-index: 10;
    background-color: #FEF1EC;
    top: 3px;
    padding: 5px;
    line-height: 1em;
    border: 1px solid #CD0A0A;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.box .input_template_change + hr {
    top: 5px;
}

.box .description {
    width: 636px;
    margin: 10px 7px 5px 7px;
    position: relative;
    line-height: 1.3em;
}

.box .description h4 {
    font-weight: bold;
    padding: 5px 0px;
}

.box .description .input_edit {
    position: absolute;
    top: 0px;
    right: 3px;
}

/*::: Forces and consequences box */
.box_forces_consequences {
    clear: both;
}

.box_forces_consequences .box {
    width: 960px;
}

.box_forces_consequences .box .entry {
    padding: 5px;
}

.box_forces_consequences .entry label, .box_relationships .entry label {
    width: inherit;
    display: block;
    line-height: 30px;
    position: relative;
}

.box_forces_consequences .entry  input,
.box_forces_consequences .entry  select,
.box_relationships .entry  input,
.box_relationships .entry  select{
    position: absolute;
    left: 140px;
    top: 4px;
    width: 210px;
}

.box_forces_consequences .entry textarea,
.box_relationships .entry textarea {
    width: 798px;
    height: 150px;
    position: absolute;
    left: 140px;
}

.box_forces_consequences fieldset label.big,
.box_relationships fieldset label.big{
    height: 160px;
}

.box_forces_consequences .entry  label .errorlist,
.box_relationships .entry  label .errorlist {
    width: 250px;
    position: absolute;
    left: 355px;
    z-index: 10;
    background-color: #FEF1EC;
    top: 3px;
    padding: 5px;
    line-height: 1em;
    border: 1px solid #CD0A0A;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.box_forces_consequences fieldset,
.box_relationships fieldset{
    position: relative;
}

.box_forces_consequences .ui-slider {
    position: absolute;
    top: 40px;
    left: 380px;
    width: 550px;
}

.box_forces_consequences .ui-slider .ui-widget-header {
    /*background: -moz-linear-gradient(left, #5FFF32 0%, #F4FF28 50%, #FF0000 100%); /* firefox */
    /*background: -webkit-gradient(linear, left top, right top, color-stop(0%,#5FFF32), color-stop(50%,#F4FF28), color-stop(100%,#FF0000)); /* webkit */
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5FFF32', endColorstr='#FF0000',GradientType=1 ); /* ie */
    background: url(../img/impact-gradient-550.png);
}

/*::: Forces and consequences box */
.box_relationships {
    width: 960px;
}

.box_relationships .entry {
    padding: 5px;
}
/*#############################################################################
::: Tag cloud
#############################################################################*/
.tag-1 {
    font-size: 12px;
}

.tag-2 {
    font-size: 13px;
}

.tag-3 {
    font-size: 14px;
}

.tag-4 {
    font-size: 15px;
}

.tag-5 {
    font-size: 16px;
}

.tag-6 {
    font-size: 17px;
}