<% if errors.any? %>
    <div class='errors'>
      <h2>
        <%= pluralize(errors.count, "error") %>
        prohibited this pattern from being saved
      </h2>

      <ul>
        <% errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>