<% if errors.any? %>
  <ul class='errors <%= 'multipleErrors' if errors.length > 1 %>'>
    <% if errors.length > 1 %>
      <li class='keep'>Hover to show all errors</li>
    <% end %>
    <% errors.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>